@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  background-color: #2F2F2F;
}

code {
  font-family: 'Merriweather', serif;
}

.form {
  background-color: white;
  width: 40%;
  height: 50vh;
  padding: 3rem;
}





